.heading {
  text-align: center;
  font-weight: 500;
  text-align: center;
  /* background-color: #fc0075; */
  /* box-shadow: 5px 10px 8px rgb(231, 220, 220); */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1.5rem 2rem;
  border: 1px #000000 solid;
}

.main-div {
  border: 1px #000000 solid;
  display: flex;
  margin: auto;
  width: 70%;
  padding: 2rem;
  /* text-align: center; */
  justify-content: space-around;
  flex-direction: row;
}

.main-div h1 {
  display: inline-block;
}
